@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Raleway:wght@100&display=swap");
@import url("components/container.css");
@import url("components/logo-marque.css");
@import url("components/btn-olive.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  background-color: rgb(220 204 153);
  text-align: center;

}
h1,h2{
  font-family: 'Gideon Roman', cursive;
  font-weight: bold;
}
a{
  text-decoration: none;
}
