.btn-olive{
  display: flex;
  flex-grow: 1;
  font-size: 20px;
  font-family: 'Gideon Roman', cursive;
  font-weight: bold;
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  color: #dccc99;
}
.btn-olive:hover{
  color:  whitesmoke;
}
#long{
  width: 660;
}
